<splide class="container py-5 mx-auto p-6"
      [options]="{ type: 'loop', perPage: 3,focus: 'center',autoWidth: true, gap: '1rem',arrows: false,autoplay: true,interval: 2500,flickMaxPages: 3,updateOnMove: true,pagination: false,padding: '10%',throttle: 300 }">
      <splide-slide>
            <app-brand name="kawai.png"></app-brand>
      </splide-slide>
      <splide-slide>
            <app-brand name="roland.png"></app-brand>
      </splide-slide>
      <splide-slide>
            <app-brand name="shure.png"></app-brand>
      </splide-slide>
      <splide-slide>
            <app-brand name="tama.png"></app-brand>
      </splide-slide>
      <splide-slide>
            <app-brand name="kawai.png"></app-brand>
      </splide-slide>
      <splide-slide>
            <app-brand name="roland.png"></app-brand>
      </splide-slide>
      <splide-slide>
            <app-brand name="shure.png"></app-brand>
      </splide-slide>
      <splide-slide>
            <app-brand name="tama.png"></app-brand>
      </splide-slide>
</splide>